.costume-1 {
  .swatch-1 {
    fill: #112238;
  }
  .swatch-2 {
    fill: #3a5a6a;
  }
  .swatch-3 {
    fill: #648392;
  }
  .swatch-4 {
    fill: #93a4b3;
  }
  .swatch-5 {
    fill: #314251;
  }
  .swatch-6 {
    fill: #ec9224;
  }
  .swatch-7 {
    fill: #aa6317;
  }
  .swatch-8 {
    fill: #994210;
  }
  .swatch-9 {
    fill: #fcbb2c;
  }
  .swatch-10 {
    fill: #f5cb35;
  }
  .swatch-11 {
    fill: #9cb4c4;
  }
  .swatch-12 {
    fill: #fdec53;
  }
  .swatch-13 {
    fill: #bb9226;
  }
  .swatch-14 {
    fill: #c5d5dc;
  }
}

.costume-2 {
  .swatch-1 {
    fill: #211818;
  }
  .swatch-2 {
    fill: #891a24;
  }
  .swatch-3 {
    fill: #c34b64;
  }
  .swatch-4 {
    fill: #a2323b;
  }
  .swatch-5 {
    fill: #810b16;
  }
  .swatch-6 {
    fill: #ec9224;
  }
  .swatch-7 {
    fill: #ab6a1b;
  }
  .swatch-8 {
    fill: #994a11;
  }
  .swatch-9 {
    fill: #fcbb2c;
  }
  .swatch-10 {
    fill: #f5cc3a;
  }
  .swatch-11 {
    fill: #cb6474;
  }
  .swatch-12 {
    fill: #fdec59;
  }
  .swatch-13 {
    fill: #bb9229;
  }
  .swatch-14 {
    fill: #e49394;
  }
  .swatch-15 {
    fill: #f5dddd;
  }
}

.costume-3 {
  .swatch-1 {
    fill: #313131;
  }
  .swatch-2 {
    fill: #267499;
  }
  .swatch-3 {
    fill: #75b4cc;
  }
  .swatch-4 {
    fill: #458cb2;
  }
  .swatch-5 {
    fill: #1d5b89;
  }
  .swatch-6 {
    fill: #ec9224;
  }
  .swatch-7 {
    fill: #ab7220;
  }
  .swatch-8 {
    fill: #995212;
  }
  .swatch-9 {
    fill: #fcbb2e;
  }
  .swatch-10 {
    fill: #f5cc3e;
  }
  .swatch-11 {
    fill: #8dc5db;
  }
  .swatch-12 {
    fill: #fdec60;
  }
  .swatch-13 {
    fill: #bb922f;
  }
  .swatch-14 {
    fill: #b5dded;
  }
  .swatch-15 {
    fill: #fefefe;
  }
}

.costume-4 {
  .swatch-1 {
    fill: #212121;
  }
  .swatch-2 {
    fill: #2d7a27;
  }
  .swatch-3 {
    fill: #7dbb67;
  }
  .swatch-4 {
    fill: #4d923e;
  }
  .swatch-5 {
    fill: #24621d;
  }
  .swatch-6 {
    fill: #f49a26;
  }
  .swatch-7 {
    fill: #a3721b;
  }
  .swatch-8 {
    fill: #8a4a0f;
  }
  .swatch-9 {
    fill: #fddb31;
  }
  .swatch-10 {
    fill: #fdec3b;
  }
  .swatch-11 {
    fill: #95d48e;
  }
  .swatch-12 {
    fill: #fefc4f;
  }
  .swatch-13 {
    fill: #b39a26;
  }
  .swatch-14 {
    fill: #addca6;
  }
  .swatch-15 {
    fill: #ddeee6;
  }
}

.costume-5 {
  .swatch-1 {
    fill: #292929;
  }
  .swatch-2 {
    fill: #636b7a;
  }
  .swatch-3 {
    fill: #acacbb;
  }
  .swatch-4 {
    fill: #737b8a;
  }
  .swatch-5 {
    fill: #525262;
  }
  .swatch-6 {
    fill: #825a3b;
  }
  .swatch-7 {
    fill: #92734d;
  }
  .swatch-8 {
    fill: #c49250;
  }
  .swatch-9 {
    fill: #d4c478;
  }
  .swatch-10 {
    fill: #d4b361;
  }
  .swatch-11 {
    fill: #bcc5cc;
  }
  .swatch-12 {
    fill: #e6dc97;
  }
  .swatch-13 {
    fill: #a3925d;
  }
  .swatch-14 {
    fill: #f6f6ee;
  }
  .swatch-15 {
    fill: #fefefe;
  }
}